<%- include ("header") -%>

<body>

<section class="heading">
    <div class="container-fluid">
        <h1>TIME TABLE</h1>
    </div>
</section>
    <!-- <h1 id="head">TABLE</h1>
    <h1 id="headn">TIME</h1>
    <h1 id="headn2">TABLE</h1>
    <div class="ht">
    <h1 class="vert" id="head1">I</h1>
    <h1 class="vert" id="head2">M</h1> -->
    <!-- <h1 class="vert" id="head3">L</h1> -->
    <!-- <h1 class="vert" id="head4">E</h1>
</div> -->
<section class="user">
    <h2>hey!!! <%= user %></h2>
</section>
<section>
<div class="content">
    <div class=" box" id="heading">
    <h1><%= title %></h1>
    </div>
    <div class=" box">
        <img id="img1" style="position: absolute;width: 19%;right: 4%;top: 12%;transform: rotate(20deg)" src="/public/imgs/social-media-marketing.png" alt="">
        <img id="img2" style="position: absolute;width: 14%;left: 6%;top: 18%;transform: rotate(-10.67grad);" src="/public/imgs/hourglass.png" alt="">
        <img id="img3" style="position: absolute;width: 20%;left: 76%;top: 70%;/*! transform: rotate(-24deg);" src="/public/imgs/stress-management.png" alt="">
        <img id="img4" style="position: absolute;width: 14%;left: 8%;top: 71%;transform: rotate(13.33grad);" src="/public/imgs/online-class.png" alt="">
       
        <% newListItems.forEach(function(item){ %>
  
                <div class="item">
                    <p><%= item.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= title %>"></input>
        <% }) %>

        <form class="item" action="/" method="post">
            <input type="hidden" name="user" value="<%= user %>"></input>
            <input name="listItem" id="item" type="text" placeholder="New Item">
            <button type="submit" style="margin-right: 15px;" name="list"  value=<%=title %>>+</button>
        </form>
    </div>


    <form action="/days" method="post">
    <input type="hidden" name="user" value="<%= user %>"></input>
    <div style="margin: 50px auto;text-align: center;">
    <button type="submit" style="width: 14rem;border-radius: 33px;background-color: yellow;color: black;font-family: 'Montserrat', 
    sans-serif;padding-top: 7px;box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);" >SUBMIT</button>
    </div>    
    </form>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<footer>
    Footer
</footer>

</body>



</html>